div#content{
	margin-top: 50px;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #0D7389;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar-qbc {
    background-image: linear-gradient(to bottom, #eee 0px, #fff 100%);
    background-repeat: repeat-x;
}
.navbar-qbc {
    background-color: #222;
    border-color: #ED4222;
}

.navbar-qbc .navbar-brand, .navbar-qbc .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-qbc .navbar-nav > li > a, .menu-qbc > li > a {
    color: #0D7389;
}

.navbar-brand-qbc{
	margin-top: -7px;
}

.btn-qbc {
    background-image: linear-gradient(to bottom, #e62100 0px, #e6452a 100%);
    background-repeat: repeat-x;
    background-color: #e62100;
    border-color: #e62100;
    color: #fff;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.btn-qbc:hover, .btn-qbc:focus {
    background-color: #e62100;
    background-position: 0 -15px;
}

.btn-qbc:hover, .btn-qbc:focus, .btn-qbc:active, .btn-qbc.active, .open > .dropdown-toggle.btn-qbc {
    background-color: #e6452a;
    border-color: #ccc;
    color: #fff;
}


